.banner {
    position: relative;
    cursor: pointer;
    .info {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        white-space: nowrap;
        h2 {
            font-weight: bold;
            font-size: 56px;
            span {
                color: #ca2166;
            }
        }
        .links {
            display: flex;
            align-items: center;
            grid-gap: 28px;
            margin-top: 5px;
        }
    }
    .dark {
        color: #fff;
    }
    .white {
        color: #000;
    }
}

@media only screen and (max-width: 480px) {
    main {
        padding-top: 48px;
        a {
            font-size: 17px;
        }
        h2 {
            font-size: 32px !important;
        }
        .screen-big-wrapper {
            grid-auto-rows: 592px;
            h3 {
                font-size: 19px !important;
            }
            .banner {
                &:nth-child(1) {
                    h2 {
                        width: 325px;
                        height: 72px;
                    }
                    background: url("https://www.apple.com/v/home/aq/images/heroes/back-to-school-2022/hero_bts__bcuslanw39xe_small_2x.jpg")
                        center/cover no-repeat !important;
                }
                &:nth-child(2) {
                    background: url("https://www.apple.com/v/home/aq/images/heroes/macbook-air/hero_macbookair__el7scava26mq_small_2x.png")
                        center/cover no-repeat !important;
                    h3 {
                        width: 178px !important;
                        height: 29px !important;
                    }
                }
                .info {
                    top: 20% !important;
                    left: 50% !important;
                    white-space: normal;
                }
            }
        }
        .screen-wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 592px;
            h3 {
                font-size: 19px !important;
            }
            .banner {
                &:nth-child(2) {
                    background: url("https://www.apple.com/v/home/aq/images/promos/macbook-pro-13/promo_mbp13__buwssod6c8vm_small_2x.jpg")
                        center/cover no-repeat !important;
                }
                &:nth-child(3) {
                    background: url("https://www.apple.com/v/home/aq/images/promos/watch-series-7/promo_watch_lte__djeaso7ukrsm_small_2x.jpg")
                        center/cover no-repeat !important;
                    h2 {
                        width: 112px !important;
                        height: 42px !important;
                    }
                }
                &:nth-child(4) {
                    background: url("https://www.apple.com/v/home/aq/images/promos/ipad-air/promo_ipadair_avail__ferd4bfpcdm6_small_2x.jpg")
                        center/cover no-repeat !important;
                    h2 {
                        width: 112px !important;
                        height: 30px !important;
                    }
                }
                &:nth-child(5) {
                    background: url("https://www.apple.com/v/home/aq/images/promos/apple-card/tile__cauwwcyyn9hy_small_2x.jpg")
                        center/cover no-repeat !important;
                    h2 {
                        width: 88px !important;
                        height: 27px !important;
                    }
                    h3 {
                        width: 260px;
                        white-space: normal;
                    }
                }
                &:nth-child(6) {
                    background: url("https://www.apple.com/v/home/aq/images/promos/airpods-spatial/promo_airpods_spatial__cak1sq3kb1w2_small_2x.jpg")
                        center/cover no-repeat !important;
                }
            }
        }
    }
}
